---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
// import ContentMedia from '@components/ContentMedia.astro'
import { Heading } from 'accessible-astro-components'
import Feature from '@components/Feature.astro'
// import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <Heading level="h2" class="mb-8">Services</Heading>
      <p class="text-2xl">
        Our work includes program design & management, ecosystem mapping, founder workshops, hackathons & pitch events,
        among other offerings.
      </p><br /><br />
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="lucide:square-dashed-kanban" title="Program Design">
          
        </Feature>
        <Feature icon="lucide:users" title="Program Management">
          
        </Feature>
        <Feature icon="lucide:map-pinned" title="Ecosystem Mapping">
          
        </Feature>
        <Feature icon="lucide:pocket-knife" title="Founder Workshops">
          
        </Feature>
        <Feature icon="lucide:code" title="Hackathons">
          
        </Feature>
        <Feature icon="lucide:mic-vocal" title="Pitch Competitions">
          
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
