---
import Logo from './Logo.astro'
import { Heading, Link } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-20">
    <Heading level="h2" class="sr-only">Footer</Heading>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
      </div>
      <div class="flex flex-col gap-4"></div>
      <div class="flex flex-col gap-4"></div>
      <div class="flex flex-col gap-4">
        <ul class="flex flex-col gap-2">
          <li><Link href="/">Home</Link></li>
          <li><Link href="/contact/">Contact</Link></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} Seed Scale Partners
      </p>
      <p>
        Made <Link href="https://accessible-astro-starter.incluud.dev/">accessible</Link> with ❤️.
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
