---
import Navigation from '../components/Navigation.astro'
import { Button, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
interface Props {
  /**
   * The URL the button should link to
   * @default "/contact/"
   */
  link?: string
  /**
   * The text to display on the button
   * @default "Get in touch"
   */
  linkText?: string
}

const { link = '/contact/', linkText = 'Get in touch' } = Astro.props
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href={link} isButton size="md" animateOnHover animationType="nudge">
        {linkText}
        <Icon aria-hidden="true" name="lucide:mail" size="1.5rem" />
      </Link>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
